@import "node_modules/bootstrap/scss/bootstrap";
@import "logo";
@import "nav";
@import "home";
@import "footer";
@import "gallery";
@import "recipe";
@import "form";
@import "registerform";
@import "modalreview";
@import "profile";
@import "addrecipeform";

// colors d6F1C4 643754

* {
  box-sizing: border-box;
}

header {
  height: 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #d6f1c4;
}
main {
  height: 83vh;
  background-color: #f5e258;
  color: #e95d2a;
}
